body {
    margin-top: 0;
}

.conversation {
    min-height: 100vh;
    width: 70%;
    background-color: pink;
    float: right;
}

.sidebar {
    height: 150vh;
    background-color: purple;
    float: left;
    width: 30%;
}

.messages {
    padding: 0 4% 3em 8%;
    align-items: center;
    list-style: none;
}

.message {
    border-radius: 5px;
    background-color: white;
    padding: 0.3em 0.5em;
    margin: 1em;
    width: fit-content;
}

.message__time-sent {
    font-size: x-small;
    display: inline-block;
    margin-left: 1em;
    font-weight: 100;
}

.message-trail {
    background-color: #e7eaf6;
    padding: 9px 0.7em;
    display: flex;
    margin-left: auto;
    width: 70%;
}

.message-trail>* {
    margin: 0 0.5em;
    font-size: larger;
}

.message-trail__input {
    height: 2.9em;
    border: none;
}

.message-trail__icon {
    border: 0;
    background-color: transparent;
}